/*Common*/
*{margin:0;padding:0;}
body{font-size:1.5em;}
ul{list-style:none;}
li{margin:1% 0;}
p{margin:0.75% 0;}
a{font-weight:bold; text-decoration:none; display:inline-block;}

a:link{color:#5c3;}a:visited{color:#289;}
header{padding:2% 0;}
.index_nav{
	transition:left 1s, max-height 0.2s;
	background-color:rgba(200,255,200,1);
	position:fixed; top:50%;  left:0.25%;  transform:translateY(-50%); width:15%; font-size:80%;
	margin:0 auto;  padding:1%;
	border-radius:1.5em;
	max-height:3em; box-shadow:0 0.2em 1px 1px #000;
}
.btn_show_index{color:inherit; border:none; background:transparent; font-size:2em; width:100%; display:inline-block}
h1{text-align:center; width:65%; margin:0 auto;}
h2,h3,h4{margin-bottom:2%; border-bottom:solid 1px; }
a.sec:link,a.sec:visited{color:inherit; cursor:default;}
a.sec:before,.index_nav a:before{width:1.25em; height:1.25em;
content:"";display:inline-block; background:url('../image/bookmark.png');
background-size:cover; background-repeat:no-repeat; vertical-align:text-top;}
.main_wrap{width:65%;margin:0 auto;}
.main_wrap section,.main_wrap aisde{margin:2% 0;}
	
.btn_show_index.collapsed:after{
	background-image:url("data:image/svg+xml,%3csvg id='Layer_1' fill='rgba(0,0,0,0.999)' enable-background='new 0 0 56.69 56.69' viewBox='0 0 56.69 56.69' xmlns='http://www.w3.org/2000/svg'%3e%3cg%3e%3cpath d='m28.345 41.676c-1.202 0-2.332-.469-3.182-1.318l-17.66-17.662c-1.754-1.754-1.754-4.609 0-6.363.85-.85 1.98-1.318 3.183-1.318s2.333.468 3.182 1.318l14.477 14.479 14.478-14.479c.85-.85 1.979-1.318 3.182-1.318s2.332.468 3.182 1.318c.851.85 1.318 1.98 1.318 3.182s-.468 2.332-1.318 3.182l-17.659 17.658c-.851.853-1.982 1.321-3.183 1.321zm-17.659-24.661c-.668 0-1.296.26-1.769.732-.975.975-.975 2.561 0 3.535l17.66 17.661c.936.936 2.557.948 3.504.029l17.69-17.69c.473-.473.732-1.1.732-1.768s-.26-1.295-.732-1.768c-.945-.944-2.59-.944-3.535 0l-15.891 15.894-15.891-15.893c-.473-.472-1.1-.732-1.768-.732z'/%3e%3c/g%3e%3c/svg%3e");
	width:1.5em; height:1.5em; background-size:100%;
	display:inline-block;
	content:"";
	float:right;
}

.btn_show_index.expanded:after{\
	background-image:url("data:image/svg+xml,%3csvg id='Layer_1' fill='rgba(0,0,0,0.999)' enable-background='new 0 0 56.69 56.69' height='512' viewBox='0 0 56.69 56.69' width='512' xmlns='http://www.w3.org/2000/svg'%3e%3cg%3e%3cpath d='m46.005 41.676c-1.202 0-2.332-.469-3.182-1.318l-14.478-14.479-14.477 14.478c-.849.85-1.979 1.318-3.182 1.318s-2.333-.468-3.183-1.318c-1.754-1.754-1.754-4.609 0-6.363l17.66-17.661c.849-.85 1.979-1.318 3.181-1.318 1.201 0 2.332.468 3.182 1.318l17.66 17.661c.851.85 1.318 1.979 1.318 3.182 0 1.201-.468 2.332-1.318 3.182-.849.849-1.979 1.318-3.181 1.318zm-17.66-18.625 15.892 15.893c.945.945 2.59.945 3.535 0 .473-.473.732-1.101.732-1.768s-.26-1.295-.732-1.768l-17.705-17.704c-.945-.902-2.56-.887-3.489.043l-17.661 17.661c-.975.975-.975 2.561 0 3.535.945.945 2.592.945 3.536 0z'/%3e%3c/g%3e%3c/svg%3e");
	width:1.5em; height:1.5em;	background-size:100%;
	display:inline-block;	content:""; float:right;
}

.btn_show_index.collapsed+ul{display:none;}
	
@media screen and (max-width:1024px){
	body{font-size:90%;}
	.main_wrap{ width:85%; }
	.index_nav { left:-35.5%; width:40%; margin-bottom:5%; max-height:1.5em; padding:2% 1%;}
	.btn_show_index{font-size:1.2em;}
}

@media screen and (max-width:750px){
	.index_nav { left:-35.5%; width:40%; margin-bottom:5%; max-height:1.5em;}
	h1,h2{display:none;}
}

@media (prefers-color-scheme:dark){
	html{background-color:#222;}
	a:link{color:#0cf;}a:visited{color:#fa0;}
	body{color:#fff;border-color:#fff;}
	.index_nav { background-color:rgba(0,0,0,1); box-shadow:inset 0 1px 1px 1px #fff;}
	.btn_show_index.collapsed:after{
		background-image:url("data:image/svg+xml,%3csvg id='Layer_1' fill='rgba(255,255,255,0.999)' enable-background='new 0 0 56.69 56.69' viewBox='0 0 56.69 56.69' xmlns='http://www.w3.org/2000/svg'%3e%3cg%3e%3cpath d='m28.345 41.676c-1.202 0-2.332-.469-3.182-1.318l-17.66-17.662c-1.754-1.754-1.754-4.609 0-6.363.85-.85 1.98-1.318 3.183-1.318s2.333.468 3.182 1.318l14.477 14.479 14.478-14.479c.85-.85 1.979-1.318 3.182-1.318s2.332.468 3.182 1.318c.851.85 1.318 1.98 1.318 3.182s-.468 2.332-1.318 3.182l-17.659 17.658c-.851.853-1.982 1.321-3.183 1.321zm-17.659-24.661c-.668 0-1.296.26-1.769.732-.975.975-.975 2.561 0 3.535l17.66 17.661c.936.936 2.557.948 3.504.029l17.69-17.69c.473-.473.732-1.1.732-1.768s-.26-1.295-.732-1.768c-.945-.944-2.59-.944-3.535 0l-15.891 15.894-15.891-15.893c-.473-.472-1.1-.732-1.768-.732z'/%3e%3c/g%3e%3c/svg%3e");
	}
	.btn_show_index.expanded:after{
		background-image:url("data:image/svg+xml,%3csvg id='Layer_1' fill='rgba(255,255,255,0.999)' enable-background='new 0 0 56.69 56.69' height='512' viewBox='0 0 56.69 56.69' width='512' xmlns='http://www.w3.org/2000/svg'%3e%3cg%3e%3cpath d='m46.005 41.676c-1.202 0-2.332-.469-3.182-1.318l-14.478-14.479-14.477 14.478c-.849.85-1.979 1.318-3.182 1.318s-2.333-.468-3.183-1.318c-1.754-1.754-1.754-4.609 0-6.363l17.66-17.661c.849-.85 1.979-1.318 3.181-1.318 1.201 0 2.332.468 3.182 1.318l17.66 17.661c.851.85 1.318 1.979 1.318 3.182 0 1.201-.468 2.332-1.318 3.182-.849.849-1.979 1.318-3.181 1.318zm-17.66-18.625 15.892 15.893c.945.945 2.59.945 3.535 0 .473-.473.732-1.101.732-1.768s-.26-1.295-.732-1.768l-17.705-17.704c-.945-.902-2.56-.887-3.489.043l-17.661 17.661c-.975.975-.975 2.561 0 3.535.945.945 2.592.945 3.536 0z'/%3e%3c/g%3e%3c/svg%3e");
	}
}