*{margin:0; padding:0; box-sizing:border-box;}
html,body,.wrapper.grid{
    width:100%;height:100%;
    overflow: hidden;
}

.emphasis-must{
    font-size:1.4rem;
}.emphasis-should{
    font-size:1.2rem;
}.emphasis-ref{font-size:1rem;}
.emphasis-ref::before{content:'\00AB';}
.emphasis-ref:after{content:'\00BB';}

ul,ol{
    list-style-position: inside;
}

.wrapper.grid{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 40% 1fr;
}

.wrapper.grid [role=tree]{
    width:100%;
    height: 100%;
}
.wrapper.grid .panels{
    height:100%;
}


[aria-live].liveForA11y {
    border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;
}

p,li:not([role=none]){
    margin:0.2rem;
}

span.tabChar{
    display:inline;
    white-space:pre;
}

code{
    display:block; padding:1rem 2rem;
    background-color:#011a2d;
    color:white; font-weight:bold;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .wrapper.grid{
        display:-ms-grid;
        width:100%; height:100%;
        position:relative;
        -ms-grid-columns: 4fr 6fr;
        -ms-grid-rows:1fr;
    }

    .wrapper.grid>[role=tree]{
        grid-column: 1;
        -ms-grid-column: 1;
        height:100%;
    }

    .wrapper.grid>.panels{
        grid-column: 2;
        -ms-grid-column: 2;
        height:100%;
        margin:1%;
        
    }
}