@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);


html{
    width:100vw; height: 100vh;
    letter-spacing:0.03rem;
    font-family: 'NanumGothic',NanumGothic,'나눔고딕',Malgun Gothic,'돋움',Dotum,helvetica,arial,sans-serif;
}

.main-wrapper{
    width:100%;height:100%;
}

body{
    width:100%; height:100%;
    overflow:hidden; overflow-y:auto;
}

*{
    padding:0; margin:0;
    box-sizing:border-box;
    word-wrap: break-word;
    word-break: keep-all;
}

card-list,card-li{
    display:block;
}

card-list.gridType{
    height:auto;
    display:grid;
    width:60%;
    grid-auto-flow: row dense;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px,auto);
    gap:0.1rem; margin:1rem auto;
}

.gridType card-li{
    width:100%; height:auto; aspect-ratio: 28.4 / 9;
    grid-column: span 2;
    perspective: 1000px;
}

.gridType card-li:nth-last-child(1):nth-child(odd){
    grid-column: 2 / span 2;
}

card-li{
    position:relative;
}

[data-depth-level]{
    counter-reset: orderedList;
}card-list card-li[aria-level="1"] .card-title::before{
    content:counter(orderedList) '. ';
    counter-increment: orderedList;
}
card-list card-li[aria-level="2"] .card-title::before{
    content:counter(orderedList,upper-alpha) '. ';
    counter-increment: orderedList;
}

card-list card-li[aria-level="3"] .card-title::before{
    content:counter(orderedList,lower-alpha) '. ';
    counter-increment: orderedList;
}


.gridType .flip-wrapper{
    font-size:0.9rem;
    position:relative;
    width:100%; height:100%;        
    transform-style: preserve-3d;
    transition: transform 0.3s;
    justify-self:center;
}



.title-side,.flipped-content{
    display:flex;
    border-radius:0.5rem;
    border:solid 0.1rem;
    position: absolute;
    width:100%; height:100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    overflow:hidden; overflow-y:auto;
    box-shadow:inset 0 0 0 0.2rem #fff,
    inset 0 0 0 0.21rem #000;
}

.scroller{
    display: flex; max-height:65%;
    width: 95%; margin:0 auto;
    place-self: center;
}




.flip-wrapper.front{
    transform: rotateY(0deg);
}.flip-wrapper.back{
    transform: rotateY(180deg);
}

.flip-wrapper.front .flipped-content .scroller{
    display:none;
}.flip-wrapper.back .title-side .scroller{
    display:none;
}

.title-side{
    background-color:#7faaef;
    background-image:
    linear-gradient(135deg, rgba(255,255,255,0.3) 25%, transparent 25%),
    linear-gradient(-135deg, rgba(255,255,255,0.3) 25%, transparent 25%),
    linear-gradient(45deg, rgba(255,255,255,0.3) 25%,transparent 25%),
    linear-gradient(-45deg, rgba(255,255,255,0.3) 25%,transparent 25%),
    linear-gradient(0deg, rgba(255,255,255,0.4) 1px,transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.4) 1px, transparent 1px);
    background-blend-mode: soft-light;
    background-size:50px 50px, 50px 50px, 50px 50px, 50px 50px, 50px 50px, 50px 25px;
    background-position:0 0, 0 0, 0 0, 0 0, 0 25px, 25px 0;
}

.flipped-content{
    background-color: #dfdfdf;
    background-image:
    linear-gradient(135deg, rgba(255,255,255,0.3) 25%, transparent 25%),
    linear-gradient(-135deg, rgba(255,255,255,0.3) 25%, transparent 25%),
    linear-gradient(45deg, rgba(255,255,255,0.3) 25%,transparent 25%),
    linear-gradient(-45deg, rgba(255,255,255,0.3) 25%,transparent 25%),
    linear-gradient(90deg, rgba(255,255,255,0.4) 1px,transparent 1px),
    linear-gradient(0deg, rgba(255,255,255,0.4) 1px, transparent 1px);
    background-blend-mode: soft-light;
    background-size:50px 50px, 50px 50px, 50px 50px, 50px 50px, 50px 50px;
    background-position:0 0, 0 0, 0 0, 0 0, 24px 0, 25px 25px;
    transform: rotateY(180deg);
}

.live-region.invisible{
    overflow:hidden;
    width:1px; height:1px; z-index:-9999;
    color:transparent; user-select:none;
}
.btn_flip{
    width:1.5rem; height: 1.5rem; top:0; left:0;
    display:block; position:absolute; z-index:99;
    margin: 0.3em;
    border-radius: 50%; border:solid 0.05rem rgba(255,255,255,0.8);
    background-color:rgba(195,245,255,1);
    box-shadow: inset 0 0 0.5rem 0.05rem rgba(255,255,255,0.8),
    0 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.4);
}
.btn_flip:before{
    content:''; display: block;
    width:100%; height:100%;
    background:rgba(0,0,0,0.8);
    mask-image:url(https://image.flaticon.com/icons/svg/3221/3221895.svg);
    -webkit-mask-image:url(https://image.flaticon.com/icons/svg/3221/3221895.svg);
    mask-size: 90%; -webkit-mask-size: 90%; mask-repeat:no-repeat; -webkit-mask-repeat:no-repeat;
    mask-position: center; -webkit-mask-position: center;
}

@media screen and (max-width:1024px){
    card-list.gridType{
        height:auto;
        display:grid;
        width:100%;
        grid-auto-flow: row dense;
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-auto-rows: minmax(200px,auto);
        gap:0.1rem; margin:1rem auto;
    }

    .gridType card-li{
        width:80%; height:auto; aspect-ratio: 16 / 9; margin:0 auto;
        grid-column: span 4;
        perspective: 1000px;
    }

    .gridType card-li:nth-last-child(1):nth-child(odd){
        grid-column: auto;
    }
}

@media (prefers-reduced-motion:reduce){
    .gridType .flip-wrapper{
        transition: none;
    }
}