[role=radio]{
    display:inline-block;
    border:2px solid;
    color:black;
    border-radius: 50%;
    width:1rem; height:1rem;
    position: relative;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

[role=radio] .radio-selected{
    height:100%; width:100%;
    border-radius: 50%; display:block;
    position:absolute;
    left:50%; top:50%;
    transform: translateX(-50%) translateY(-50%);
}

[role=radio] .radio-selected:after{
    content:""; display:block;
    text-align: center;
    position: absolute;
    background-color:transparent;
    width:1%; height:1%;
    border-radius: 50%;
    top:51%; left:50%;
    transform:translateX(-50%) translateY(-50%);
    transition:width 0.5s, height 0.5s, transform 0.5s, left 0.5s, margin 1s;
}

[role=radio][aria-checked=true] .radio-selected:after{
    content:"";
    display: block; text-align: center;
    position: relative;
    width:95%; height:95%;
    background-color:#000;
    border-radius:50%;
}