<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://a11y-nvisions.github.io/iOS/solutions.ipa</string>
		<key>displayImageURL</key>
		<string>https://a11y-nvisions.github.io/iOS/ci.jpg</string>
		<key>fullSizeImageURL</key>
		<string>https://a11y-nvisions.github.io/iOS/ci.jpg</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>GPSC4H96AT</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
